  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    float: none;
    background: white;
    white-space: pre-line;
    border-radius: 20px; 
    padding: 10px;
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
 .copy_right_footer
 {
   text-align: center;
line-height: 50px;
background-color: darkgray;
color: whitesmoke;
position: fixed;
bottom: 0px;
width: 100%;
 }